.item {
	display: flex;
	flex-flow: row;
	color: #13314D;
}

.item:hover {
	color: red;
	cursor: pointer;
}

.item:hover > .clear {
	color: red;
	font-weight: bold;
}

.text {
	margin: 0;
}

.clear {
	background-color: transparent;
	outline: none;
	border: none;
}

.clear:hover {
	cursor: pointer;
}

.list {
	display: flex;
	padding: 10px;
	border-left: 2px dashed #181A1C;
	height: 100%;
	background-color: #FFFACD;
}

.list li {
	padding-right: 10px;
	float: left;
}

.placeholder {
	align-self: center;
	font-size: .65em;
	line-height: 1.75;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.children {
	padding-top: 6em;
}