.prevNextContainer {
	width: 100%;
	position: relative;
	background-color: white;
}

.prevNext {
	color: tomato;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 1em;
	position: absolute;
}

.prevNext:hover {
	cursor: pointer;
	text-decoration: underline;
}

.prev {
	bottom: 25px;
	left: 50px;
}

.next, .done {
	bottom: 25px;
	right: 50px;
}