.textInput {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px dashed whiteSmoke;
	outline: none;
	padding: 1em 2em;
}

.textInput:focus {
	border-bottom: 3px dashed #13314D;
}

.textArea {	
	border: 3px dashed whiteSmoke;
	outline: none;
	padding: 1em 2em;
}