.nav {
	display: flex;
	align-items: baseline;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.logo {
	height: 50px;
	padding-left: 25px;
}

.navMain {
	color: black;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 300;
}

.navLeft {
	padding: 1em 0;
	width: 70%;
	background-color: white;
	flex-flow: row;
	display: flex;
	align-items: baseline;
}

.list {
	display: flex;
	flex-flow: row;
	color: #49627F;
	padding-left: 1em;
}

.list li {
	padding-right: 10px;
}

.signIn {
	margin-left: auto;
	margin-right: 3em;
}

.signIn a {
	color: white;
}