.createBrewBody {
	width: 70%;
	float: left;
	min-height: 100vh;
	height: 100%;
	display: flex;
	position: relative;
}

.createBrewStep {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.formContainer {
	height: 100vh;
	display: flex;
	align-items: center;
}

.fullWidth {
	width: 100%;
}

.twoThirds {
	width: 60%;
}

.halfWidth {
	width: 50%;
}

.createBrewStep form {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.createBrewInput {
	width: 100%;
	margin-bottom: 3em;
}

.createBrewTextArea {
	width: 100%;
	height: 200px;
}

.ingredientsList {
	flex: 40%;
}

.prevNext {
	position: absolute;
	bottom: 0;
	background-color: #FFFFF0;
	height: 4em;
}

.stepsList {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.stepsListLiContainer {
	width: 50%;
	float: left;
	padding: 10px;
}

.stepsListLi {
	padding: 10px;
	margin: 0;
}
