.sideContainer {
	width: 30%;
	float: right;
	min-height: 100vh;
	position: fixed;
	margin-left: 70%;
	background-color: #181A1C;
	color: white;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
}
